<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>vehModelSalServlet</servlet-name>
        <servlet-class>servlet.VehModelSalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vehMonthSalServlet</servlet-name>
        <servlet-class>servlet.VehMonthSalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vehWorkingRateServlet</servlet-name>
        <servlet-class>servlet.VehWorkingRateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vehModelOverloadServlet</servlet-name>
        <servlet-class>servlet.VehModelOverloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vehQualityControlServlet</servlet-name>
        <servlet-class>servlet.VehQualityControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sendsms</servlet-name>
        <servlet-class>servlet.Sendsms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dayShipOutServlet</servlet-name>
        <servlet-class>servlet.crm.DayShipOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>yearMonthShipOutServlet</servlet-name>
        <servlet-class>servlet.crm.YearMonthShipOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crmPaymentServlet</servlet-name>
        <servlet-class>servlet.crm.CrmPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getDingConfigServlet</servlet-name>
        <servlet-class>servlet.GetDingConfigServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserInfoServlet</servlet-name>
        <servlet-class>servlet.GetUserInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mesZongServlet</servlet-name>
        <servlet-class>servlet.mes.MesZongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mesDipanServlet</servlet-name>
        <servlet-class>servlet.mes.MesDipanServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>vehModelSalServlet</servlet-name>
        <url-pattern>/vehModelSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vehMonthSalServlet</servlet-name>
        <url-pattern>/vehMonthSal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vehWorkingRateServlet</servlet-name>
        <url-pattern>/vehWorkingRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vehModelOverloadServlet</servlet-name>
        <url-pattern>/vehModelOverload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vehQualityControlServlet</servlet-name>
        <url-pattern>/vehQualityControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sendsms</servlet-name>
        <url-pattern>/sendsms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dayShipOutServlet</servlet-name>
        <url-pattern>/dayShipOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>yearMonthShipOutServlet</servlet-name>
        <url-pattern>/yearMonthShipOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crmPaymentServlet</servlet-name>
        <url-pattern>/crmpayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getDingConfigServlet</servlet-name>
        <url-pattern>/getdingconfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserInfoServlet</servlet-name>
        <url-pattern>/getuserinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mesZongServlet</servlet-name>
        <url-pattern>/meszong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mesDipanServlet</servlet-name>
        <url-pattern>/mesdipan</url-pattern>
    </servlet-mapping>
</web-app>